#moyu-sample 配置
spring:
  application:
    #在 yml 中获取 maven 配置文件 pom.xml 中的配置，需要配置 maven 插件中的资源加载配置 filtering=true 且生效范围为 src/main/resources
    #如果依赖了 spring-boot-starter-parent 工程，则需要用表达式 @value@ 获取，并且加上单引号
    name: '@project.artifactId@'
    version: '@project.version@'
moyu:
  #方法运行切面日志
  method-time:
    #是否启用
    enabled: true
    #日志切点
    pointcut-expression: execution(* io.github.moyugroup..controller..*(..))
    #接口参数截取长度
    paramsMaxLength: 2000
  # 自定义线程池配置
  thread-pool:
    core-pool-size: 2
    disabled: false
logging:
  #日志输出在工程相对路径下的 logs 文件夹
  file:
    path: ./logs